.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Itim&family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Danfo&family=Itim&family=Poppins:wght@500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  overflow-y: auto;
}
html {
  scroll-behavior: smooth;
}
:root {
  --green-color: #78ca9d;
  --green-colors: #80b833b4;
  --white-color: #fff;
  --black-color: #0b0d0e;
  --black-shade: #232323;
  --shadow-color: 2px 4px 20px 0px var(--green-colors);
  ---box-hover-color: 0px 2px 20px 20px var(--white-color);
}
nav {
  padding: 0px 20px 5px;
  background: linear-gradient(
    200deg,
    rgb(81, 224, 202),
    rgb(69, 194, 164),
    rgb(253, 0, 253)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  position: sticky;
  box-shadow: rgb(134, 215, 250) 0px 4px 20px 0px;
}
h2 {
  text-align: center;
  justify-content: center;
}
.logo {
  font-size: 1.5rem;
}
.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  font-weight: 700;
}
.nav-menu .nav-item a {
  letter-spacing: 2px;
  padding: 8px 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 1s ease;
  &:hover {
    color: #0b0d0e;
    border-radius: 10px;
    border: 2px solid white;
  }
}

a {
  text-decoration: none;
  color: white;
}
.nav-container .logo {
  letter-spacing: 3px;
  font-weight: 700;
  cursor: pointer;
}
.header-section {
  padding: 10px 0px;
  background: linear-gradient(127deg, #20230a, #000000, #02a3a5);
}
.header-container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
  padding: 0px 20px;
  align-items: center;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 5rem 1.5rem;
  padding: 40px 20px;
}
.header-right img {
  border-radius: 100%;
  width: 20rem;
  margin-left: 30%;
  background-image: radial-gradient(var(--green-color) 5px, #e5e5f700 5px);
  background-size: 10px 10px;
  box-shadow: rgb(51, 36, 49) 0px 0px 50px 5px;
}
.header-left h4 b {
  color: var(--green-color);
}
.header-left h4 {
  font-size: 1.81rem;
  margin: 0;
  padding: 0;
}
.header-left h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: var(--green-color);
}
strong {
  color: var(--green-color);
}
.header-left h3 {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}
.header-left-detail {
  display: flex;
  flex-direction: column;
  gap: -10px;
}
.social-icon {
  display: flex;
  gap: 15px;
  list-style: none;
}
.social-icon a {
  box-shadow: 0 0 var(--blur) var(--glow);
}
.social-icon i {
  background: var(--black-shade);
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 10px;
  transition: all 300ms ease;
  &:hover {
    background: var(--green-color);
    box-shadow: var(--shadow-color);
    color: var(--black-color);
  }
}
.btn {
  padding: 12px 18px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  background: var(--green-color);
  color: white;
  border: none;
  transition: all 300ms ease-in-out;
  &:hover {
    background: var(--green-color);
    box-shadow: var(--shadow-color);
    color: var(--black-color);
  }
}
.about {
  background: linear-gradient(110deg, #02a3a5, #000000, #20230a);
  color: white;
  box-shadow: rgb(39, 196, 177) -10px -10px 40px 30px;
  animation-timeline: view();
  animation: slide-in-left 2s ease forwards;
}
.about-container {
  padding: 80px 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  animation-timeline: view();
  animation: slide-in-left 2s ease forwards;
}
.about-left img {
  width: 100%;
  animation-timeline: view();
  animation: slide-in-left 2s ease forwards;
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}
.list {
  align-items: center;
  justify-content: center;
}
.about-right {
  display: flex;
  flex-direction: column;
  animation-timeline: view();
  animation: slide-in-left 2s ease forwards;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-130%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.about-right p {
  align-items: center;
  animation-timeline: view();
}

.study-details li {
  display: flex;
  background-color: var(--green-color);
  gap: 10%;
  padding: 2px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  &:hover {
    box-shadow: var(---box-hover-color);
  }
}
.skill-container {
  margin: 60px 0 80px;
  padding: 80px 20px;
}
.skill-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10%;
  align-items: center;
}
.container {
  width: 100%;
  background-color: #ddd;
}
.skill-item p {
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid var(--green-color);
  &:hover {
    background: var(--green-color);
    animation: skill-hover 0.5s ease forwards;
  }
}
@keyframes skill-hover {
  from {
    background: var(--white-color);
    scale: 1;
  }
  to {
    background: var(--green-color);
    scale: 1.2;
  }
}
.skill {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background: var(--black-color);
}
.skills {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 0px 20px 20px 0px;
}
.about-right h2,
.skill-container h2,
h2 {
  color: var(--green-color);
  font-weight: 700;
  letter-spacing: 3px;
  animation-timeline: view();
  animation: drag 5s ease forwards;
}
@keyframes drag {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.html {
  width: 85%;
  background-color: var(--green-color);
}
.css {
  width: 40%;
  background-color: var(--green-color);
}
.js {
  width: 60%;
  background-color: var(--green-color);
}
.boot {
  width: 80%;
  background-color: var(--green-color);
}
.react {
  width: 50%;
  background-color: var(--green-color);
}

.tech {
  width: 80%;
  background-color: var(--green-color);
}
.project {
  background: var(--black-shade);
}
.project-container h2 {
  margin-bottom: 50px;
}
.project-container {
  padding: 80px 20px;
}
.project-menu {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.project-item {
  width: 92%;
  align-items: center;
  text-align: center;
  color: white;
  background-color: var(--black-color);
  padding: 20px 10px;
  border-radius: 10px;
}
.project-item img {
  object-fit: contain;
  width: 90%;
}
.project-item h3 {
  color: var(--green-color);
  font-size: 1.5rem;
}
.buttns .btn {
  font-size: 1.2rem;
  margin: 10px;
}
.contact {
  background: var(--black-color);
}
.contact-container {
  padding: 80px 20px;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.inputs input,
textarea {
  padding: 8px;
  width: 40%;
  background-color: var(--black-shade);
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
}
footer {
  background: var(--black-shade);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
footer a {
  padding-top: 5px;
  color: #8c8b8b;
}
@media screen and (max-width: 1024px) {
  .header-left-detail {
    justify-content: center;
    text-align: center;
  }
  body {
    background: black;
  }
  .nav-menu .nav-item a {
    display: none;
  }
  .logo {
    font-size: 1.3rem;
  }
  .header-section {
    /* padding: 10px 0px; */
    background-color: var(--black-color);
    margin: 0;
  }
  .header-container {
    display: flex;
    flex-direction: column-reverse;
    color: white;
  }
  .header-left h4 b {
    color: var(--green-color);
  }
  .header-left h4 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  .header-left h1 {
    font-size: 2rem;
  }
  .header-left h3 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  .om {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icon {
    display: flex;
    gap: 10x;
    list-style: none;
    justify-content: center;
    text-align: center;
  }
  .social-icon i {
    background: #36454f;
    font-size: 1.4 rem;
    padding: 5px;
  }
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-left img {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .study-details {
    margin: 0px;
    padding: 0px;
  }
  .study-details li {
    display: flex;
    background-color: var(--green-color);
    gap: 10%;
    padding: 2px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  }
  .skill-menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .skills {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
  }
  .project-container h2 {
    margin-bottom: 50px;
  }
  .project-container {
    padding: 50px 20px 40px;
  }
  .project-menu {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0 0;
    gap: 40px;
    justify-content: center;
  }
  .inputs input,
  textarea {
    width: 90%;
  }

  .about-right p {
    align-items: center;
  }
}

/* greate bg */
/* 
.gradient-background {
  background: linear-gradient(127deg,#20230a,#0e590e,#000000);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
